@import url('https://fonts.googleapis.com/css?family=Open+Sans:300');


h1 {
  font-family: 'Open Sans', sans-serif;
  font-weight: 300;
  color: #444444;
  letter-spacing: 0.2rem;
}

input {
  display: block;
  color: #AA9E91;
  font-family: 'Open Sans', sans-serif;
  font-weight: 300;
  margin: auto;
  border-style: none;
  padding: 5px;
  margin-top: 5px;
}

.full {
  width: 400px;
  margin: auto;
  margin-top: 5px;
}

.half {
  width: 192px;
  display: inline-block;
  margin-top: 5px;
}

.right {
  margin-left: 5px; 
}

.new-roaster {
  background-color: #BB997F;
  margin: auto;
  width: 500px;
  padding: 50px;
}