@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400');


.roaster-name {
  color: white;
  text-transform: uppercase;
  font-family: 'Open Sans', sans-serif;
  letter-spacing: 0.2rem;
  margin-bottom: 20px;
}

.roaster-card {
  height: 320px;
  width: 200px;
  background-color: #aa9e91;
  border-radius: 10px;
  padding: 20px;
  position: relative;
  margin: 20px 20px;
  box-shadow: 0px 0px 3px 0px rgba(119, 119, 119, 0.63);
  -moz-box-shadow: 0px 0px 3px 0px rgba(119, 119, 119, 0.63);
  -webkit-box-shadow: 0px 0px 3px 0px rgba(119, 119, 119, 0.63);
}

#roaster-list {
  margin: auto;
  list-style: none;
  padding: 0;
}

.roaster-data {
  font-family: 'Open Sans', sans-serif;
  color: #444444;
}

.new-coffee {
  background-color: #444444;
  color: white;
  padding: 10px;
  position: absolute;
  bottom: 10px;
  left: 125px;
  height: 50px;
  width: 100px;
  display: block;
  border-style: none;
  -webkit-box-shadow: 0px 0px 28px -3px rgba(0,0,0,0.75);
-moz-box-shadow: 60px 0px 28px -3px rgba(0,0,0,0.75);
box-shadow: 0px 0px 28px -3px rgba(0,0,0,0.75);
}

.form-button:hover, .new-coffee:hover {
  cursor: pointer;
}

.form-button {
  background-color: #444444;
  color: white;
  padding: 10px;
  position: absolute;
  bottom: 10px;
  left: 15px;
  height: 50px;
  width: 100px;
  display: block;
  border-style: none;
  -webkit-box-shadow: 0px 0px 28px -3px rgba(0,0,0,0.75);
-moz-box-shadow: 60px 0px 28px -3px rgba(0,0,0,0.75);
box-shadow: 0px 0px 28px -3px rgba(0,0,0,0.75);
}