@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400');

.landing-logo {
  height: 100px;
}

h3 {
  font-family: 'Open Sans', sans-serif;
  color: #444444;
  font-weight: 300;
  margin-bottom: 0;
}