@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400');

.landing-logo {
  height: 100px;
}

.profile-picture {
  border-radius: 100%;
  display: block;
  margin: auto;
  height: 250px;
  width: 250px;
  margin-bottom: 10px;
}

h3 {
  font-family: 'Open Sans', sans-serif;
  color: #444444;
  font-weight: 300;
  margin-bottom: 0;
}

h1 {
  margin-bottom: 0;
}

.name {
  margin-top: 3px;
  margin-bottom: 15px;
}

.logout {
  background-color: #444444;
  color: white;
  height: 50px;
  width: 80px
}

.logout:hover {
  background-color: #d29f7a;
}